.pet-index {
    height: 100%;

    .pet-read-container {
      height: 100%;
      display: flex;

      app-pet-list, .router-outlet {
        padding: 10px;
      }

      app-pet-list {
        flex: 1;
      }

      .router-outlet {
        flex: 2;
      }
    }
   }
